<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>云自习后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="../images/ic_launcher_round.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../layui_v2.6.8/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/commomPublic.css"/>
    <link rel="stylesheet" type="text/css" href="../zoomify/zoomify.min.css"/>
</head>
<style>
    @font-face {
        font-family: PangMenZhengDao;
        src: url(../fonts/pangmen.ttf)
    }
    #iframeMain{
        width: 100%;height: 100%;
    }
    .layui-footer{
        text-align: center;
    }
    /* 左侧导航栏点击的颜色 */
    .layui-nav-tree .layui-nav-child dd.layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this a,
    .layui-nav-tree .layui-this,
    .layui-nav-tree .layui-this>a,
    .layui-nav-tree .layui-this>a:hover  {
        /* background-color: #0095ff; */
        background-color: #57c7d4;
        color: #fff;
    }
    #headerImg{
        width: 82px;height: 31px;
    }
    .larry-side-menu {
        /* background-color: #fff; */

        position: absolute;
        cursor: pointer;
        z-index: 19940201;
        left: 220px;
        color: white;
        text-align: center;
        /* width: 30px;
        height: 30px; */
        line-height: 30px;
        top: 23%;
    }
    /*导航栏伸缩图标颜色*/
    #iconMenu{
        color: #0095ff;
    }
    /* logo区域背景及字体颜色 */
    #logoStr{
        font-size: 23px;
        color: #FFFFFF;
        font-family: PangMenZhengDao;
        /* background-color: #7FFF00 !important; */
        background-color: #b22222 !important;
    }
    .copyright{
        color: #33cabb;
        outline: none !important;
        transition: .2s linear;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
    }
    #logoStr:hover{
        color: #D9D9D9 !important;
    }
</style>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->

    <div class="layui-header" style="background-color: #fff;">
        <div class="layui-logo  layui-bg-black" >
            <a href="../home/index" >
                <!-- <img id="headerImg" src="img/layuilo.png" > -->
                <div id="logoStr" class="layui-logo  layui-bg-black " > 云自习后台</div>
            </a>
        </div>

        <div class="larry-side-menu" onclick="retractableMenu()">

            <i id="iconMenu" class="layui-icon layui-icon-shrink-right"></i>&nbsp;&nbsp;&nbsp;

        </div>


        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;" style="color: #33cabb;">
                    <img  th:src="@{${profilePath}}" id="adminPic" class="layui-nav-img zoomify">
                    <span th:text="${name}" ></span>

                </a>
                <dl class="layui-nav-child" style="text-align: center;">
                    <dd><a href="javascript:;" onclick="logOut()"><i class="layui-icon layui-icon-logout">&nbsp;&nbsp;</i>退出登录</a></dd>
                </dl>
            </li>

        </ul>
    </div>

    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black" id="larry-side">
        <div class="layui-side-scroll" >

            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-this">
                    <a href="../home/main"><i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;首页</a>
                </li>


                <li class="layui-nav-item"
                    sec:authorize="hasAnyAuthority('/roleManage/roleList','/roleManage/permissionList','/adminManage/adminList')">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-auz"></i>&nbsp;&nbsp;权限管理</a>
                    <dl class="layui-nav-child">
                        <dd sec:authorize="hasAuthority('/roleManage/roleList')">
                            <a href="../roleManage/roleList">&nbsp;&nbsp;角色管理</a>
                        </dd>
                        <dd sec:authorize="hasAuthority('/roleManage/permissionList')">
                            <a href="../roleManage/permissionList">&nbsp;&nbsp;权限管理</a>
                        </dd>
                        <dd sec:authorize="hasAuthority('/adminManage/adminList')">
                            <a href="../adminManage/adminList">&nbsp;&nbsp;系统用户管理</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/classifyManage/toClassifyTree')">
                    <a href="../classifyManage/toClassifyTree"><i class="layui-icon layui-icon-read"></i>&nbsp;&nbsp;自习室管理</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/userManage/toUserList')">
                    <a href="../userManage/toUserList"><i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;学员管理</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/studyRecord/toStudyRecord')">
                    <a href="../studyRecord/toStudyRecord"><i class="layui-icon layui-icon-form"></i>&nbsp;&nbsp;学员自习记录</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/businessConfigManage/toConfigManage')">
                    <a href="../businessConfigManage/toConfigManage"><i class="layui-icon layui-icon-set"></i>&nbsp;&nbsp;业务配置管理</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/feedBackManage/toFeedBackManage')">
                    <a href="../feedBackManage/toFeedBackManage"><i class="layui-icon layui-icon-survey"></i>&nbsp;&nbsp;APP意见反馈</a>
                </li>


                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/personalManage/personalInfo')">
                    <a href="../personalManage/personalInfo"><i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;个人设置</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/userAgreementManage/toPrivacyPolicy')">
                    <a href="../userAgreementManage/toPrivacyPolicy"><i class="layui-icon layui-icon-tips"></i>&nbsp;&nbsp;隐私政策与用户协议</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/versionManage/toVersionManage')">
                    <a href="../versionManage/toVersionManage"><i class="layui-icon layui-icon-release"></i>&nbsp;&nbsp;版本控制</a>
                </li>

                <li class="layui-nav-item"
                    sec:authorize="hasAuthority('/objectStorageManage/toObjectStorageManage')">
                    <a href="../objectStorageManage/toObjectStorageManage"><i class="layui-icon layui-icon-upload"></i>&nbsp;&nbsp;文件管理</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body" id="larry-body" >

        <iframe id="iframeMain" scrolling="auto" frameborder="0" src="../home/main"></iframe>

    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer" id="larry-footer">
        <p>© 2021<span id="nowYear"></span> By <a class="copyright"  >jiacheng yang.</a> All right reserved.</p>
    </div>
</div>

<script src="../layui_v2.6.8/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../zoomify/zoomify.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var form;
    var layer;
    var element;
    $(function(){
        layui.use(['layer', 'form', 'element'], function () {
            layer = layui.layer;
            form = layui.form;
            element = layui.element;

            $(".zoomify").zoomify()
            getNowYear()

            //页面内部跳转
            $("ul a").click(function(e){
                //阻止超链接跳转
                e.preventDefault();
                var hre=$(this).attr("href")
                if (hre !=='javascript:;'){
                    $("#iframeMain").attr('src',hre);
                }

            })

        });
    });

    function getNowYear(){
        var date = new Date()
        var year = date.getFullYear()
        if(year > 2021){
            $("#nowYear").text(" - "+year)
        }
    }

    //左侧导航栏伸缩动画
    function retractableMenu(){
        var sideWidth = $('#larry-side').width();
        if(Number(sideWidth) === 200){

            $('#larry-body').animate({
                left: '0'
            },300); //admin-footer
            $('#larry-footer').animate({
                left: '0'
            },300);
            $('#larry-side').animate({
                width: '0'
            },300);

            $("#iconMenu").attr('class','layui-icon layui-icon-spread-left');
        }else{

            $('#larry-body').animate({
                left: '200px'
            },300);
            $('#larry-footer').animate({
                left: '200px'
            },300);
            $('#larry-side').animate({
                width: '200px'
            },300);

            $("#iconMenu").attr('class','layui-icon layui-icon-shrink-right');
        }
    }

    function logOut(){
        $.post("../token/logout", function(data) {
            if (data.code !== 0) {
                layer.msg(data.msg,{icon:5})
                return;
            }
            window.location.href = "../login";
        }, "json");
    }


</script>
</body>
</html>
