<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="../img/lslogo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/layui_v2.6.8/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/multipleSel/formSelects-v4.css"/>
    <link rel="stylesheet" type="text/css" href="../css/commomPublic.css"/>

</head>
<body class="cm-body-BackCol">
<div class="cm-container">

    <div class="cm-title">
        <blockquote class="elem-quote ">
            页面标题
        </blockquote>
    </div>

    <div class="cm-detial">
        <div style="padding: 1rem">

            <!-- 页面主题内容写在这 -->
            <div style="text-align: center;height: 500px;">
                <div style="line-height:500px;font-family: PangMenZhengDao;font-size: 25px;color: #33cabb;">Hello Wold 页面主体!</div>
            </div>
        </div>
    </div>

</div>
<!--<div class="layui-form-item" style="margin-top: 20px;">-->
<!--    <div class="layui-row">-->
<!--        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" >-->
<!--            <div class="layui-inline" style="margin-left: 10%;">-->
<!--                <label class="layui-form-label">用户名</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" placeholder="输入用户名" id="username" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" >-->
<!--            <div class="layui-inline" style="margin-left: 10%;">-->
<!--                <label class="layui-form-label">手机号</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" placeholder="输入手机号" id="phone" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/layui_v2.6.8/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/multipleSel/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var form;
    var layer;
    var table;
    var laypage;
    var laydate;
    var formSelects;

    $(function(){
        layui.use(['layer', 'form' ,'table','laypage','laydate','formSelects'], function () {
            layer = layui.layer;
            form = layui.form;
            table = layui.table;
            laypage = layui.laypage;
            laydate = layui.laydate;
            formSelects = layui.formSelects;


        });
    });

</script>
</body>
</html>
