.cm-title{
	height:3.0rem;
	background:rgba(255,255,255,1);
	line-height: 3.0rem;
	text-indent: 1.3rem;
	font-size:0.9rem;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:600;
	color:rgba(63,69,75,1);
}
.cm-body-BackCol{
	background-color: #f2f2f2 !important;
}
.cm-container{
	background:rgba(244,244,244,0.6);
	padding: 1rem 1rem 0;

	min-height: 96%;
}
.cm-detial{
	background-color: #fff;
	margin-top: 1rem;
	border-radius:0.2rem;
	box-shadow:0rem 0.1rem 0.4rem 0rem rgba(0,0,0,0.06);
}
.cm-detail-body{
	padding: 1rem;
	background-color: #fff;
	border-radius:0.2rem;
	box-shadow:0 0.1rem 0.4rem 0 rgba(0,0,0,0.06);
}
.elem-quote {
	margin-bottom: 10px;
	padding: 15px;
	line-height: 1.6;
	border-left: 5px solid #818fee;
	border-radius: 0 2px 2px 0;
	background-color: #FFF;
}
.com-center{
	text-align: center !important;
}
td,th {
	text-align: center !important;
}
.wid-95{
	width: 95%;
}
.chao-yin{
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.disabled-col{
	background-color: #eee !important;
}
/*  --自定义layui的样式--  */
.layui-form-checked[lay-skin=primary] i{
	background-color: #818fee !important;
	border-color: #818fee !important;
	color: #fff !important;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: 	#818fee !important;
}
.layui-form-select dl dd.layui-this{
	background-color:#818fee !important;
}
.layui-form-radio:hover *, .layui-form-radioed, .layui-form-radioed>i {
	color: #818fee !important;
}
.layui-table td, .layui-table th {
	text-align: center !important;
}
.layui-table th{
	font-weight:600 !important;
}
.layui-form-label{
	width: 60px !important;
}
.layui-input-block {
	margin-left: 90px !important;
}
.layui-tab-brief > .layui-tab-title .layui-this {
	color: #818fee
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
	border-bottom: 2px solid #818fee !important;
}
.layui-form-onswitch{
	border-color: #818fee !important;
	background-color: #818fee !important;
}
/*  --自定义颜色，背景色--  */
/*浅色系*/
.comBackCol-lightGreen{
	background-color: #33cabb !important;
}
.comCol-lightGreen{
	color: #33cabb !important;
}
.comBackCol-lightPurple{
	background-color: #818fee !important;
}
.comCol-lightPurple{
	color: #818fee !important;
}
/*深色系*/
.comBackCol-deepBlue{
	background-color: #0095ff !important;
}
.comCol-deepBlue{
	color: #0095ff !important;
}
.comBackCol-deepRed{
	background-color: #e91e63 !important;
}
.comCol-deepRed{
	color: #e91e63 !important;
}
/*亮色系*/
.comBackCol-brightPink{
	background-color: #f96197 !important;
}
.comCol-brightPink{
	color: #f96197 !important;
}
.comBackCol-brightPurple{
	background-color: #926dde !important;
}
.comCol-brightPurple{
	color: #926dde !important;
}
.comBackCol-brightBlue{
	background-color: #1890FF !important;
}
.comCol-brightBlue{
	color: #1890FF !important;
}
.comBackCol-brightRed{
	background-color: #f96868 !important;
}
.comCol-brightRed{
	color: #f96868 !important;
}
.comBackCol-brightGreen{
	background-color: #15c377 !important;
}
.comCol-brightGreen{
	color: #15c377 !important;
}
.comBackCol-brightOrange{
	background-color: #faa64b !important;
}
.comCol-brightOrange{
	color: #faa64b !important;
}
.comBackCol-brightCyan{
	background-color: #57c7d4 !important;
}
.comCol-brightCyan{
	color: #57c7d4 !important;
}
.comBackCol-brightBrown{
	background-color: #8d6658 !important;
}
.comCol-brightBrown{
	color: #8d6658 !important;
}
.comBackCol-brightYellow{
	background-color: #fcc525 !important;
}
.comCol-brightYellow{
	color: #fcc525 !important;
}
.comBackCol-brightSecondary{
	background-color: #e4e7ea !important;
}
.comCol-brightSecondary{
	color: #e4e7ea !important;
}
.comBackCol-brightBlack{
	background-color: #465161 !important;
}
.comCol-brightBlack{
	color: #465161 !important;
}
.disabled-col{
	background-color: #eee !important;
}

.down-a{
	color: #0c7fd1;
	text-decoration: none;
	border-bottom: 1px solid #0c7fd1; /* 1像素的实线，你可以根据需要调整颜色和样式 */
}

.blue-a{
	color:#1890FF;
	font-size: 14px;
	transition: transform 0.3s, color 0.3s, font-size 0.3s;
	display: inline-block;
}
.blue-a:hover{
	cursor: pointer;
	color:#666666;
	font-size: 15px;
	transform: translateY(-3px);
}
.red-a{
	margin-left: 5px;
	color:#e91e63;
	font-size: 14px;
	transition: transform 0.3s, color 0.3s,font-size 0.3s;
	display: inline-block;
}
.red-a:hover{
	cursor: pointer;
	color:#666666;
	font-size: 15px;
	transform: translateY(-3px);
}





