@charset "UTF-8";

/*****************************************             ztree样式                                 *************************************************/
.treeArea {
	margin-top: 10px;
}

.ztree li span.button.add {
	margin-left: 4px;
	margin-right: 1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}

 #ztree1 .ztree li a.curSelectedNode {
     background-color: #676666;
     color: #fff;
 }
 #ztree1 .ztree li a.curSelectedNode:hover{
     background-color: #676666;
     color: #fff;
 }
 #ztree1 .ztree li a:hover {
     background-color: #eee;
     color:#333;
 }
 #ztree1 .ztree li a {
     padding-left: 10px;
     box-sizing: border-box;
 }
 

/***************************  ztree样式覆盖    ****************************/



/*************************************     layui样式覆盖     **********************************************/

/* tab颜色换成蓝色 */
.layui-this {
    color: #1677FF;
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #1677FF;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #1677FF;
}

/* radio颜色 */
.layui-form-radioed>i{
	color: #1677FF;
}

/*************************************     layui样式覆盖      **********************************************/



/************************************ 常用样式  ********************************************/
.flex-box-endwise {
	display: flex;
	flex-direction: column;
}

.flex-box-crossrange {
	display: flex;
	flex-direction: row;
}

/* justify-content: flex-start | flex-end | center | space-between | space-around; */
.flex-start{
 	justify-content: flex-start;
}
.space-between{
 	justify-content: space-between;
}
.crossrange-center{
 	justify-content: center;
}
.flex-end{
	justify-content: flex-end
}


/* align-items: flex-start | flex-end | center | baseline | stretch; */
.corss-flex-start{
 	align-items: flex-start;
}
.corss-space-between{
 	align-items: space-between;
}
.corss-center{
 	align-items: center;
}
.corss-flex-end{
	align-items: flex-end
}



/* 左右结构的编辑区域  总宽高 */
.node-edit-area{
/* 	width:1920px; */
/* 	height:1080px; */
	width: 100%;
	height: 100%;
	padding: 0px; 
	margin: 0px;
	background-color: #F2F2F2;
}

.percent-100-size{
	width:100%;
	height:100%;
}
.percent-100-width{
	width:100%;
}
.percent-90-width{
	width:90%;
}
.percent-80-width{
	width:80%;
}
.percent-75-width{
	width:75%;
}
.percent-70-width{
	width:70%;
}
.percent-60-width{
	width:60%;
}
.percent-40-width{
	width:40%;
}
.percent-30-width{
	width:30%;
}
.percent-25-width{
	width:25%;
}
.percent-20-width{
	width:20%;
}
.percent-15-width{
	width:15%;
}
.percent-10-width{
	width:10%;
}

.percent-100-height{
	height:100%;
}
.percent-90-height{
	height:90%;
}
.percent-80-height{
	height:80%;
}
.percent-75-height{
	height:75%;
}
.percent-25-height{
	height:25%;
}
.percent-20-height{
	height:20%;
}
.percent-10-height{
	height:10%;
}
.percent-15-height{
	height:15%;
}


.overflow-auto{
	overflow:auto;
}

.node-edit-submit-button{
	margin:0px 0px 6px 45%;
}
.node-edit-second-button{
	margin: 0px 0px 6px 16px;
}
.layui-layer-page .layui-layer-content{
	overflow:hidden !important;
}
.layer-edit-content{
	height : 98%;
	width : 98%;
	padding : 6px;
	overflow : auto;
}

.title-hidden{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}