<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/layui_v2.6.8/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/commomPublic.css"/>
</head>
<body>

<body class="cm-body-BackCol">
<div class="cm-container">

    <div class="cm-title">
        <blockquote class="elem-quote ">
            业务配置
        </blockquote>
    </div>

    <div class="cm-detial">
        <div style="padding: 1rem">

            <!-- 页面主题内容写在这 -->
            <div class="layui-form">

                <div class="layui-form-item">

                    <table class="layui-table" id="userTable" lay-filter="userTable" style="table-layout: fixed;"></table>
                </div>

            </div>
        </div>
    </div>

</div>


<script src="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://selfstudy-server.oss-cn-hangzhou.aliyuncs.com/static/layui_v2.6.8/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var form;
    var layer;
    var table;
    var laypage;
    var laydate;


    $(function(){
        layui.use(['layer', 'form' ,'table','laypage','laydate'], function () {
            layer = layui.layer;
            form = layui.form;
            table = layui.table;
            laypage = layui.laypage;
            laydate = layui.laydate;

            getConfigList();

            table.on('edit(userTable)', function(obj){

                var data = obj.data;
                var id = data.id
                var value = data.bvalue

                if (strIsEmpty(value)){
                    renderTab()
                    layer.msg("配置项必填!",{icon : 7})
                    return
                }

                ajaxPost('./updateBusiness',{"id":id,"value":value},function (res) {
                    renderTab()
                    if (res.code === 0){
                        layer.msg("修改成功",{icon : 1})
                    }else {
                        layer.msg(res.msg,{icon : 2})
                    }
                })

            });

        });
    });

    function renderTab() {
        table.reload('userTable', {


        });
    }

    function getConfigList(){
        table.render({
            id: 'userTable'
            , elem: '#userTable'
            , skin: 'row '
            , even: true
            , url: './getBusinessList'
            , method:"post"
            ,cellMinWidth: 80
            , cols: [
                [
                    {type:'numbers',title: '序号'}
                    , {field: 'description', title: '名称'}
                    , {field: 'bvalue',  title: '配置项',edit:'text'}
                ]
            ]
            ,done: function(res, curr, count){

            }
        });
    }

</script>
</body>

</body>
</html>
