<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="../img/lslogo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../layui_v2.6.8/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/commomPublic.css"/>
</head>
<body class="cm-body-BackCol">
<div class="cm-container">

    <div class="cm-title">
        <blockquote class="elem-quote ">
            权限管理
        </blockquote>
    </div>

    <div class="cm-detial">
        <div style="padding: 1rem">

            <!-- 页面主题内容写在这 -->
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <button onclick="editPermission(null)" style="float: right;"  class="layui-btn layui-btn-sm comBackCol-brightCyan"><i class="layui-icon layui-icon-addition"></i>添加权限</button>
                        <table class="layui-table" id="roleTable" lay-filter="roleTable" style="table-layout: fixed;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/html" id="barArea">
    <button class="layui-btn layui-btn-xs layui-btn-primary layui-border-blue" lay-event="edit"><i class="layui-icon layui-icon-refresh-1"></i>修改</button>
</script>
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../layui_v2.6.8/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var form;
    var layer;
    var table;
    var laypage;
    var laydate;

    var page = 1;
    var limit = 10;
    $(function(){
        layui.use(['layer', 'form' ,'table','laypage','laydate'], function () {
            layer = layui.layer;
            form = layui.form;
            table = layui.table;
            laypage = layui.laypage;
            laydate = layui.laydate;

            getPermissionList()

            //监听工具条
            table.on('tool(roleTable)', function(obj){
                var data = obj.data;
                var permissionId = data.id
                if(obj.event === 'edit'){
                    editPermission(permissionId)
                }
            });

        });
    });

    function editPermission(permissionId){
        layer.open({
            title: "编辑权限",
            content: '../roleManage/updatePermission?permissionId='+permissionId,
            type: 2,
            btnAlign: 'c',
            btn: ['确定', '取消'],
            id: 'QuestionAdd',
            area: ['50%','60%'],
            yes: function (index, layero) {
                var id = $("#QuestionAdd").children().attr("id"); // 获取iframe的id
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var name = $("#" + id).contents().find("#name").val();
                var url = $("#" + id).contents().find("#url").val();
                var description = $("#" + id).contents().find("#description").val();

                if (isEmpty(name)){
                    layer.msg("权限名称是必填项！",{icon : 7})
                    return;
                }
                if (isEmpty(url)){
                    layer.msg("权限代码是必填项！",{icon : 7})
                    return;
                }

                var permissionJson = {
                    "id":permissionId,"name":name,"url":url,"description":description
                }

                $.ajax({
                    url:'../roleManage/updatePermission',
                    type:'POST',
                    cache:false,//关缓存
                    async:false,//关闭异步
                    data:{"permissionJson":JSON.stringify(permissionJson)},
                    dataType:"json", //期望服务端返回的数据类型
                    success:function (data) {
                        if (data.code===0){
                            renderTab()
                            layer.msg("编辑成功！",{icon : 1})
                            layer.close(index);
                            return;
                        }
                        layer.msg(data.msg,{icon : 2})
                    },error:function (jqXHR, textStatus, errorThrown) {
                        layer.msg("HTTP状态码:"+jqXHR.status,{icon: 5})
                    }
                });



            }, btn2: function (index, layero) {
                layer.close(index)
            }, cancel: function (index, layero) {
                layer.close(index)
            }
        });
    }

    function isEmpty(str){
        return str==='' || str===null || str===undefined
    }

    function renderTab(){
        table.reload('roleTable', {
            page: {
                curr: 1
                ,layout: ['count', 'prev', 'page', 'next', 'skip']
                , theme: '#818fee'
                , groups: 7
            }
            ,limit: limit
        });
    }

    function getPermissionList(){
        table.render({
            id: 'roleTable'
            , elem: '#roleTable'
            , skin: 'row '
            , even: true
            , url: '../roleManage/getPermissionList'
            , method:"post"
            ,limit: limit
            , page: {
                layout: ['count', 'prev', 'page', 'next', 'skip']
                , groups: 7
            }
            ,cellMinWidth: 80
            , cols: [
                [
                    {field: 'name', title: '权限名称'}
                    , {field: 'description',   title: '权限描述'}
                    , {field: 'url',  title: '权限代码'}
                    , {field: 'createTime',  title: '创建时间'}
                    //, {title: '操作',  align: 'center',width:100, toolbar: '#barArea' }
                ]
            ]
            ,done: function(res, curr, count){
            }
        });
    }

</script>
</body>
</html>