<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.system.mapper.CatalogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxy.system.po.Catalog">
        <id column="id" property="id" />
        <result column="classify_id" property="classifyId" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="name" property="name" />
        <result column="person_count" property="personCount" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classify_id, parent_id, level, name, person_count, sort, create_time, update_time
    </sql>

    <!-- 图书馆详情，与自习室是一对多的关系  -->
    <resultMap id="ClassifyDetailMap" type="com.lxy.system.vo.ClassifyDetailVO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="icon_path" property="iconPath" jdbcType="VARCHAR"/>
        <result column="cover_path" property="coverPath" jdbcType="VARCHAR"/>
        <collection property="rooms" ofType="com.lxy.system.vo.CatalogVO">
            <id column="catalogId" property="catalogId" jdbcType="INTEGER" />
            <result column="classify_id" property="classifyId" jdbcType="INTEGER"/>
            <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
            <result column="level" property="level" jdbcType="INTEGER"/>
            <result column="catalogName" property="catalogName" jdbcType="VARCHAR"/>
            <result column="person_count" property="personCount" jdbcType="INTEGER"/>
            <result column="sort" property="sort" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <select id="getTree" resultType="com.lxy.system.vo.ZtreeVO">
        SELECT
            CONCAT( aec.id, '|co' ) AS id,
            aec.NAME AS NAME,
            -1 AS pId,
            1 AS LEVEL ,
            aec.sort as sort
        FROM
                (SELECT id,name,sort FROM classify ) aec
        UNION
        SELECT
            CONCAT( aec.id, '|no' ) AS id,
            aec.NAME AS NAME,
            CONCAT( aec.classify_id, '|co' ) AS pId,
            aec.LEVEL + 1 AS LEVEL ,
            aec.sort as sort
        FROM
            ( SELECT id,name,classify_id,level,sort FROM catalog WHERE LEVEL = 1 ) aec
        UNION
        SELECT
            CONCAT( aec.id, '|no' ) AS id,
            aec.NAME AS NAME,
            CONCAT( aec.parent_id, '|no' ) AS pId,
            aec.LEVEL + 1 AS LEVEL ,
            aec.sort as sort
        FROM
            ( SELECT id,name,parent_id,level,sort FROM catalog WHERE LEVEL = 2 ) aec
    </select>

    <select id="getCatalogByClassify" resultMap="ClassifyDetailMap">
        select
            cl.id,
            cl.name,
            cl.description,
            cl.icon_path,
            cl.cover_path,
            ca.id as catalogId,
            ca.classify_id,
            ca.parent_id,
            ca.level,
            ca.name as catalogName,
            ca.person_count,
            ca.sort
        from classify cl
        LEFT JOIN catalog ca on cl.id = ca.classify_id
        where cl.id = #{classifyId}
    </select>

    <select id="getRoomDetail" resultType="com.lxy.system.vo.RoomVO">
        select
            c.id,
            c.`name`,
            c.person_count,
            c.parent_id,
            ca.`name` as parentName,
            cl.name as libraryName
        from catalog c
                 left JOIN catalog ca on c.parent_id = ca.id
                 left join classify cl on c.classify_id = cl.id
        where c.id = #{roomId}
    </select>


</mapper>
