spring:
  profiles:
    active: dev
  application:
    name: selfstudy-admin
  # druid
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 50
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: 'SELECT 1'
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 配置防止连接泄漏（如果某个连接长时间未释放会强制回收，单位：秒）
      remove-abandoned: false
      remove-abandoned-timeout: 180
      # 配置日志统计
      log-abandoned: true
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        login-username: admin
        login-password: '@yjc+0827#520'
        allow: 0.0.0.0/0
  # redis
  data:
    redis:
      # 连接超时时间
      timeout: 5s
      lettuce:
        # 关闭连接时的等待时间
        shutdown-timeout: 200ms
        pool:
          # 连接池最大连接数
          max-active: 200
          # 连接池最大阻塞等待时间（使用负值表示没有限制）
          max-wait: 2s
          # 连接池中的最大空闲连接
          max-idle: 10
          # 连接池中的最小空闲连接
          min-idle: 5
  # thymeleaf
  thymeleaf:
    encoding: UTF-8
    cache: false
  # 文件上传
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

# mybatis-plus
mybatis-plus:
  mapper-locations: classpath*:mybatis/*.xml
  type-aliases-package: com.lxy.**.po
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: assign_id
    banner: false

# pagehelper
pagehelper:
  helper-dialect: mysql
  params: count=countSql
  reasonable: false
  support-methods-arguments: true

# ContextPath
server:
  servlet:
    context-path: /selfStudyAdmin
  # 大于50KB就开启gzip压缩
  compression:
    enabled: true
    mime-types: application/json,application/javascript,application/xml,text/javascript,text/css,text/html,text/xml,text/plain,application/x-httpd-php,image/jpeg,image/gif,image/png
    min-response-size: 51200
  # tomcat
  tomcat:
    threads:
      min-spare: 20
      max: 400
    max-http-form-post-size: 10MB
    max-swallow-size: 10MB
    accept-count: 200
    max-connections: 9192

# 阿里云
ali:
  accesskey:
    id:
    secret:

# oss
oss:
  config:
    # 是否开启oss上传
    enabled: true
    # oss存储空间
    bucket: selfstudy-server
    # oss资源访问路径(CDN)
    path:
    endpoint:

# 加密配置
crypto:
  des:
    secret-key:

# Security配置
security:
  # 需要认证的URL路径
  auth-url:
    - /home/**
    - /adminManage/**
    - /businessConfigManage/**
    - /classifyManage/**
    - /feedBackManage/**
    - /personalManage/**
    - /roleManage/**
    - /studyRecord/**
    - /userAgreementManage/**
    - /userManage/**
    - /versionManage/**
    - /resources/upload
    - /resources/uploadApp
    - /resources/generateImage
    - /objectStorageManage/**
    - /permissionManage/**
    - /mine/**
  # 允许匿名访问的URL路径，非必须
  permit-url:
    - /druid/**
    - /token/**
    - /upload/**
    - /hello
