<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../layui_v2.6.8/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/commomPublic.css"/>
    <link rel="stylesheet" type="text/css" href="../zoomify/zoomify.min.css"/>
</head>
<body class="cm-body-BackCol">

<div class="cm-container">

    <div class="cm-title">
        <blockquote class="elem-quote ">
            意见反馈
        </blockquote>
    </div>

    <div class="cm-detial">
        <div style="padding: 1rem">

            <!-- 页面主题内容写在这 -->
            <div class="layui-form">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select name="replyStatus" id="replyStatus" class="replyStatus" lay-filter="replyStatus">
                                <option value="">请选择</option>
                                <option value="1">已回复</option>
                                <option value="0">未回复</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">反馈内容</label>
                        <div class="layui-input-inline">
                            <input type="text" placeholder="输入反馈内容查询" id="content" class="layui-input">
                        </div>
                    </div>



                    <div class="layui-inline">
                        <button onclick="renderTab()" class="layui-btn comBackCol-brightCyan"><i class="layui-icon layui-icon-search"></i></button>
                    </div>

                </div>

                <div class="layui-form-item">

                    <table class="layui-table" id="userTable" lay-filter="userTable" style="table-layout: fixed;">

                    </table>

                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/html" id="picTpl">
    {{# if(d.pic == null){ }}
    <span>暂无</span>
    {{# } else { }}
    <a style="color: #258EEC" target="_blank" href="{{d.pic}}">查看</a>
    {{# } }}
</script>

<script type="text/html" id="replyTpl">
    {{# if(d.replyStatus == 0){ }}
    <span>未回复</span>
    {{# } else if(d.replyStatus == 1) { }}
    <span style="color: #258EEC">已回复</span>
    {{# } }}
</script>

<script type="text/html" id="barArea">
    <button class="layui-btn layui-btn-xs layui-btn-primary layui-border-blue" lay-event="edit">回复</button>
    <button class="layui-btn layui-btn-xs layui-btn-primary layui-border-red" lay-event="remove">删除</button>
</script>

<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../layui_v2.6.8/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../zoomify/zoomify.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    var form;
    var layer;
    var table;
    var laypage;
    var laydate;

    var page = 1;
    var limit = 10;
    $(function(){
        layui.use(['layer', 'form' ,'table','laypage','laydate'], function () {
            layer = layui.layer;
            form = layui.form;
            table = layui.table;
            laypage = layui.laypage;
            laydate = layui.laydate;


            getFeedBackList()

            form.on('select(replyStatus)', function(data){
                renderTab()
            });

            //监听工具条
            table.on('tool(userTable)', function(obj){
                var data = obj.data;
                var id = data.id
                if(obj.event === 'remove'){
                    layer.confirm("确认删除吗?", { icon: 2, title:'提示', btn: ['确定', '取消']
                        ,btn1: function(index, layero){
                            ajaxPost('./removeFeedBackById',{"id":id},function (res) {
                                if (res.code === 0){
                                    layer.msg("删除成功",{icon : 1})
                                    renderTab()
                                    layer.close(index);
                                    return
                                }
                                layer.msg(res.msg,{icon : 2})
                            })

                        }
                        ,btn2: function(index, layero){
                            layer.close(index);
                        }
                    });
                }else{

                    layer.open({
                        title: "回复反馈",
                        content: './toReplyFeed?reply='+data.reply+"&rid="+id,
                        type: 2,
                        btnAlign: 'c',
                        btn: ['确定', '取消'],
                        id: 'QuestionAdd',
                        area: ['40%','40%'],
                        yes: function (index, layero) {
                            var cid = $("#QuestionAdd").children().attr("id"); // 获取iframe的id
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var repl = $("#" + cid).contents().find("#reply").val();

                            if (strIsEmpty(repl)){
                                layer.msg("请输入回复内容！",{icon : 7})
                                return
                            }

                            if (repl.length > 255){
                                layer.msg("最多回复255个字符！",{icon : 7})
                                return
                            }

                            ajaxPost('./replyFeedBackById',{"id":id,"reply":repl},function (res) {
                                if (res.code === 0){
                                    renderTab()
                                    layer.msg("回复成功！",{icon : 1})
                                    layer.close(index)
                                }else {
                                    layer.msg(res.msg,{icon : 2})
                                }
                            });


                        }, btn2: function (index, layero) {
                            layer.close(index)
                        }, cancel: function (index, layero) {
                            layer.close(index)
                        }
                    });

                }

            });

        });
    });

    function renderTab(){
        var content = $("#content").val()
        var replyStatus = $("#replyStatus").val()
        table.reload('userTable', {
            page: {
                curr: 1
                ,layout: ['count', 'prev', 'page', 'next', 'skip']
                , theme: '#818fee'
                , groups: 7
            }
            , limit: 10
            , where: {
                content: content,
                replyStatus: replyStatus
            }
        });
    }

    function getFeedBackList(){
        table.render({
            id: 'userTable'
            , elem: '#userTable'
            , skin: 'row '
            , even: true
            , url: './getFeedBackPageList'
            , method:"post"
            ,limit: limit
            , page: {
                layout: ['count', 'prev', 'page', 'next', 'skip']
                , groups: 7
            }
            ,cellMinWidth: 80
            , cols: [
                [

                    {field: 'name', title: '反馈人'}
                    , {field: 'phone',  title: '手机号'}
                    , {field: 'content',  title: '反馈内容'}
                    , {field: 'pic',width: 100, align: 'center',  title: '问题截图' ,templet: '#picTpl'}
                    , {field: 'createTime',width: 200, align: 'center',  title: '反馈时间'}
                    , {field: 'replyStatus', title:'状态', width: 100, align: 'center', templet: '#replyTpl'}
                    , {field: 'adminName',  title: '回复人'}
                    , {field: 'replyTime',width: 200, align: 'center',  title: '回复时间'}
                    , {title: '操作', width: 150, align: 'center', toolbar: '#barArea' }
                ]
            ]
            ,done: function(res, curr, count){
            }
        });
    }

    function lookPic(pic){
        console.log(pic)
    }

</script>
</body>
</html>